<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- suporte a mobile -->
    <div class="navbar-brand">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
        data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only"> Visualizar itens</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> Projeto final</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="nav-link dropdown-item" href="#">Inicial</a></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Projetos <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a [routerLink]="['/dashboard']" class="dropdown-item" href="#">Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/calculadora']" class="dropdown-item" href="#">Calculadora</a></li>
            <li><a [routerLink]="['/conversor-moedas']" class="dropdown-item" href="#">Conversor de moedas</a></li>
            <li><a [routerLink]="['/tarefas']" class="dropdown-item" href="#">Gerenciador de tarefas</a></li>
            <li><a [routerLink]="['/jogo-da-velha']" class="dropdown-item" href="#">Jogo da velha</a></li>
          </ul>
          </li>
          </ul>
          </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

